.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 40px;
    row-gap: 20px;
    align-items: center;
}

.home__title {
    font-size: 36px;
}

.home__lesson {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
    width: 60%;
    row-gap: 20px;
}

.home__lesson__title {
    font-size: 24px;
}

.home__lesson__preview {
    font-size: 14px;
}

.home__lesson__image {
    font-size: 24px;
}

.home__lesson__image img {
    border-radius: 5px;
}