.game {
  height: 100vh;
  display: flex;
  column-gap: 10%;
  padding: 100px;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.mode-picker {
  border-radius: 5px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1em;
}

.mode-picker-2 {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1em;
}

.lobby-list {
  flex-direction: column;
  height: 50vh;
  width:75vh;
  overflow-y: auto;
  margin: 20;
  border-radius: 5px;
  /* boxShadow: '0px; 4px 4px 0px rgba(0, 0, 0, 0.25)'; */
  border: 2px solid rgba(0, 0, 0, 0.05);
}

.chat-box {
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.08);
  width:570px;
  height:570px;
  border-radius: 5px;
  transition: 0.1s;
  display:flex;
}

.chat-box-top {
  display:flex;
}

.chat-box-msg {
  background-color: rgba(255, 255, 255, 0.84);
  border: 1px solid rgba(0, 0, 0, 0.08);
  width:400px;
  height:500px;
  border-radius: 5px;
  transition: 0.1s;
}

.chat-box-chatters {
  background-color: rgba(255, 255, 255, 0.84);
  border: 1px solid rgba(0, 0, 0, 0.08);
  width:170px;
  height:500px;
  position: relative;
  border-radius: 5px;
  transition: 0.1s;
}

.chat-box-text {
  background-color: rgba(255, 255, 255, 0.84);
  border: 1px solid rgba(0, 0, 0, 0.08);
  width:570px;
  height:65px;
  position: relative;
  right:50%;
  top:500px;
  border-radius: 5px;
  transition: 0.1s;
}

.lobby-list__choice {
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.08);
  /* padding: 50px; */
  height: 7vh;
  width:100%;
  border-radius: 5px;
  transition: 0.1s;
}

.back-button{
  border: 2px solid rgba(0, 0, 0, 0.05);
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  display: flex;
  padding: 10px 20px 10px 20px;
  position: absolute;
  left: 5%;
  top: 89%;
}

.mode-picker__choice {
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.08);
  padding: 50px;
  border-radius: 5px;
  transition: 0.1s;
}

.mode-picker__choice:hover {
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.08);
}

.chat-box-users__title {
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.chat-box-users__label {
  font-size: 18px;
  padding-bottom: 10px;
}

.chat-box-msg__title {
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.chat-box-msg__label {
  text-align: left;
  font-size: 18px;
  padding-bottom: 10px;
}


.mode-picker__label {
  font-size: 36px;
}
