.navigation__navigator {
  display: flex;
  flex-direction: column;
  width: 240px;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  height: 100%;
  position: fixed;
  padding: 18px 12px;
  justify-content: space-between;
}

.navigation__navigator__menu {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.navigation__navigator__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1em;
  font-size: 22px;
  padding: 12px 18px;
  border-radius: 100px;
  color: #50565f;
  font-weight: normal;
  transition: 0.05s;
}

.navigation__navigator__item:hover {
  background-color: #f5f8ff;
  color: var(--blue);
  font-weight: normal;
}

.navigation__navigator__item.active {
  background-color: #ebf2ff;
  font-weight: bold;
  color: var(--blue);
}

.navigation hr {
  width: 100%;
  margin: 12px 0;
}

.navigation__content {
  margin-left: 240px;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.04);
}
